<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>

</head>
<body>
{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}首页{% endblock %}
{% block css %}
        <link href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<h1><a href="{% url 'daily:index' %}">这里是首页</a></h1>
                <form class="form-inline" action="{% url 'daily:search' %}" method="GET">
                    <input class="form-control" type="search" name="keyword" placeholder=
                            "Search" aria-label="Search" value="{{ keyword }}">
                    <button class="btn btn-outline-success" type="submit">搜索</button>
                </form>
{% if daily_list %}
<ul>
    {% for daily in daily_list %}
    <h3><a href="{% url 'daily:detail' daily.id %}">{{ daily.title }}</a></h3>
    <span class="card-link">作者:<a href="{% url 'daily:author' daily.owner.id %}">{{ daily.owner.name }}
            </a></span>
    <span class="card-link">公司:<a href="{% url 'daily:company' daily.owner.company.id %}">{{ daily.owner.company }}
    </a></span>
    <span class="card-link">汇报时间:{{ daily.created_time }}
    </span>
    <h4>{{ daily.content }}</h4>
    <hr/>
    {% endfor %}
</ul>
{% endif %}
    {% if page_obj %}
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">上一页</a>
        {% endif %}
            Page {{ page_obj.number }} of {{ paginator.num_pages }}.
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">下一页</a>
        {% endif %}
    {% endif %}

{% endblock %}
</body>
</html>